<%- include partials/header %>
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1><%= album.title %></h1>
				<h2>Reviews <a href="/albums/<%= album.id %>/reviews/new" class="btn btn-default add-review">Add review</a></h2>
				<div class="reviews">
					<% reviews.forEach(function(review) { %>
						<div>
							<h5><a href="#"><%= review.title %></a><span class="date-created"> <%= moment(review.date_created).format('MMMM Do YYYY') %></span></h5>
							<p><%= review.content %> <a href="/delete/<%= review.id %>">
							<% if (review.userid === id) { %>
								<span class="glyphicon glyphicon-trash trash"></span></a></p>
							<% } %>
							<p class="text-right"><span>by <a href="/profile/<%= review.userid %>"><%= review.name %></a><span></p>
						</div>
						<% }) %>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
<%- include partials/footer %>
